<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <title>Graph 2</title>
    </head>
    <body>
        <div class=page>
            <form id='graph2' method='post' action='graph2' > <!-- action is the URL you want to move to next-->
                <p>
                <h4> You can click on Go Back button to choose another option.</h4> 
                    <input type='submit' value='Go Back' /> <!-- value is the text that will appear on the button. -->
                </p>
            </form>
            <figure>
                 <img src="http://www.cis.jhu.edu/~trinh/active_reactive_energy.png" height="550" width="1200" >
            </figure>
        </div class=metanav>
        </div>
    </body>
</html>