<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>User Input!</title>
        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
	</head>
	<body>
		<div class=page>
  			<h2>Welcome to the UCI database for an individual household electric power consumption</h2>
		    <h4>Please select the types of plots that you want to see</h4>
		    <form id='index' method='post' action='index' > <!-- action is the URL you want to move to next-->
                <p> Please choose the measurements that you want to see the plot: <br />
                    <input type='checkbox' name='Measure' value={{ans1}} /> {{ans1}} <br />
                    <input type='checkbox' name='Seasonal' value={{ans2}} /> {{ans2}} <br />

                </p>
                <p> Please choose the year: <br />
                    <input type='radio' name='Year' value={{year1}} /> {{year1}} <br />
                    <input type='radio' name='Year' value={{year2}} /> {{year2}} <br />
                    <input type='radio' name='Year' value={{year3}} /> {{year3}} <br />
                    <input type='radio' name='Year' value={{year4}} /> {{year4}} <br />
                    <input type='radio' name='Year' value={{year5}} /> {{year5}} <br />
                </p>
                
                <p>
                <input type='submit' value='Submit' /> <!-- value is the text that will appear on the button. -->
                 </p>
            </form>
	    </div class=metanav>
		</div>
	</body>
</html>

