<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <title>No Choice Chosen</title>
        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
    </head>
    <body>
        <div class=page>
            <h2>No choice is clicked for graphing&quest;&quest;&quest;</h2>
           
            <h4>Thank you for participating &hearts;! </h4> 
            <h4> You can click on Go Back button to choose another one &#9996;.</h4>  

            <form id='nochoice' method='post' action='nochoice' > <!-- action is the URL you want to move to next-->
                <p>
                    <input type='submit' value='Go Back' /> <!-- value is the text that will appear on the button. -->
                </p>
            </form>
        </div class=metanav>
        </div>
    </body>
</html>


